<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Administrador de Produtos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/adminProdutos.css">
</head>

<body>

    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span>Approve</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="">
                        <span class="ti-home"></span>
                        <span>Tela Inicial</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-face-smile"></span>
                        <span>Vendedores</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-clipboard"></span>
                        <span>Pagamentos</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-book"></span>
                        <span>Produtos</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="ti-settings"></span>
                        <span>Config. e Relatórios</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="search-wrapper">
                <span class="ti-search"></span>
                <input type="Pesquisar" placeholder="Pesquisar">
            </div>
            <div class="social-icons">
                <span class="ti-bell"></span>
                <span class="ti-comment"></span>
                <div></div>
            </div>
        </header>
        <main>
            <h2 class="dash-title">Visão Geral</h2>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-briefcase"></span>
                        <div>
                            <h5>Saldo da Conta</h5>
                            <h4>R$ 7.777,00</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Ver tudo</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-reload"></span>
                        <div>
                            <h5>Pendente</h5>
                            <h4>R$ 777,00</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Ver tudo</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="ti-check-box"></span>
                        <div>
                            <h5>Processado</h5>
                            <h4>R$ 77.777,00</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="">Ver tudo</a>
                    </div>
                </div>
            </div>
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">
                        <div class="table-header">
                            <h3>Produtos Cadastrados</h3>
                            <a class="add-product-button" href="/admin-produtos/criar"><span class="ti-plus"></span></a>
                        </div>  

                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Última Alteração</th>
                                        <th>Status</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(let produto of produtos) { %>
                                        <tr>
                                            <td>
                                                <%= produto.nome %>
                                            </td>
                                            <td>
                                                <%= produto.ultimaAlteracao %>
                                            </td>
                                            <% if(produto.status==="Ativo" ) { %>
                                                <td>
                                                    <span class="badge success"><%= produto.status %></span>
                                                </td>
                                            <% } else { %>
                                                <td>
                                                    <span class="badge warning"><%= produto.status %></span>
                                                </td>
                                            <% } %>
                                            <td class="edit-buttons-column">
                                                <a class="delete-button product-edit-buttons" href="/admin-produtos/delete/<%= produto.id %>">
                                                    <span class="ti-trash"></span>
                                                </a>
                                                <a class="edit-button product-edit-buttons" href="">
                                                    <span class="ti-pencil-alt"></span>
                                                </a>
                                                <a class="visualize-button product-edit-buttons" href="/admin-produtos/<%= produto.id %>">
                                                    <span class="ti-eye"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
            </section>
        </main>
    </div>
</body>

</html>