
    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <%- include('./partials/usuariomenu')%>

   <!-- css linha 754 -->
    <main class="main_content">
       <% if (locals.error) {%>
      <h2 class="error-alert"><%= error.message%></h2>
          <%}%>
  

        <div class="codigo">
            <!-- Tela lateral -->
      <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Cartões</h3> 
      <% if(locals.user){ %>
      <main id="user">

<span>Nome:<%= user.nome %></span>
<span>Numero do Cartão: <%= user.cartao%></span>

<span>Cpf:<%= user.cpf %></span>

<a href="./editarcartoes/<%=user.id%>" class="editar1">Editar</a>

<a href="./deletarcartao/<%=user.id%>" class="deletar">Deletar</a>


</main>
<%} else {%>
  <p>
    Nenhum Cartão Cadastrado Nesse Usuário
   </p>
<p>
  Click no Botão e Cadastre Seu Cartão, Para Finalizar sua compra.
            </p>  
            
            <%} %>          
<button class="cartoes1" type="submit" > <a href="./adicionarcartoes">
    CADASTRAR NOVO CARTÃO</button>
  </a>

</main>
 
   
<%- include('./partials/footerusuario')%>











