    <!-- section toda a tela entre o cabeçalho e o rodpé -->
    <%- include('./partials/usuariomenu')%>

   <!-- css linha 754 -->
    <main class="main_content">

      
        <% if (locals.error) {%>
 <h2 class="error-alert"><%= error.message%></h2>
            <%}%>

        <div class="codigo">
            <!-- Tela lateral -->
      <h3 class="fontebarra" id="titulo-Meus Cartões">Meus Endereços</h3> 
 <% if(locals.user){ %>

    <main id="user">
<!-- <img src="<%= user.avatar %>" alt="avatar">    -->
<span><%= user.nome %></span>
<span>Endereço: <%= user.rua%> , <%= user.numero %>.</span>

<span>Bairro:<%= user.bairro %></span>

<span>Cidade:<%= user.cidade %></span>
<span>Complemento:<%= user.complemento %>.</span>

<span>

    CEP:<%= user.cep %>
</span>

<a href="./editarendereco/<%=user.id%>" class="editar1">Editar</a>

<a href="./deletarenderecos/<%=user.id%>" class="deletar">Deletar</a>


</main>

<main id="user">
<span><%= user.nome %></span>
<span>Endereço: <%= user.rua%> , <%= user.numero %>.</span>

<span>Bairro:<%= user.bairro %></span>

<span>Cidade:<%= user.cidade %></span>
<span>Complemento:<%= user.complemento %>.</span>

<span>

    CEP:<%= user.cep %>
</span>

<a href="./editarendereco/<%=user.id%>" class="editar1">Editar</a>

<a href="./deletarenderecos/<%=user.id%>" class="deletar">Deletar</a>

</main>




  <%} else {%>

  
<!-- <h2 class="error-alert">Usuários não encontrado por motivos do alem</h2> -->

<p>
    Nenhum Endereço Cadastrado Nesse Usuário.
        
</p>
<p>
    Click no Botão e Cadastre Seu Endereço
</p> 

<%} %>  






<button class="cartoes1" type="submit" > <a href="./adicionarendereco">
    CADASTRAR NOVO ENDEREÇO</button>
  </a>
</main>  
<%- include('./partials/footerusuario')%>




