<!-- by Hérmon -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove&Aprove</title>
    <link rel="stylesheet" href="./stylesheets/global.css">
    <link rel="stylesheet" href="./stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
</head>
<body>

    <%- include('./partials/header') %>
    <main>
        <div class=banner>
            <a href="/produtos">
                <img src="/images/campain-diadosnamorados.jpg" class="img-destaques">
            </a>
        </div>
        <div class=banner2>
            <a href="./produtos.html">
                <img src="/images/campain-diadosnamorados-pc.jpg" class="img-destaques">
            </a>
        </div>
        <section class="vitrine">
            <div class="container">
                <h1 class="titulo-produtos">DESTAQUES</h1>
                <section class="produtos-container">
                  <section class="produtos">
                    <% products.forEach(product=> { %>
                    <div class="card">
                      <a class="link" href="/produto/<%= product.id%>">
                        <img
                          class="camisa-imagem"
                          src="<%= product.image%>"
                          width="300px"
                        />
                      </a>
                      <div class="info-produto">
                        <p class="nome-camisa"><%= product.name %></p>
                        <span class="preco-camisas"> R$ <%= product.price%> </span>
                        <button
                        class="btn-comprar-produtos"
                        onclick="adicionar({
                        id: '<%= product.id  %>',
                         name: '<%= product.name %>',
                         price: '<%= product.price %>',
                         quantity:1,
                         size: '<%= product.size %>',
                         image:'<%= product.image %>',
                 })"
                      >
                        Comprar
                      </button>
                      </div>
                    </div>
                    <% }) %>
                  </section>
                </section>
              </div>

        </section>
    </main>
    <%- include('./partials/footer') %>
    </footer>
    <%- include('./partials/carrinho') %>
</body>

</html>
