   <!-- section toda a tela entre o cabeçalho e o rodpé -->
   
  
    <!-- menu lateral -->
    <%- include('./partials/usuariomenu')%>

   
  <!-- <link rel="stylesheet" href="/stylesheets/123.css"> -->
   
    <!-- tela lado direito -->
        <main class="main_content">

            <div class="codigo">
                <!-- Tela lateral -->
                <!-- link com angora volta onde quer id -->
         <h3 class="fontebarra" id="titulo-Meus Créditos">Meus Créditos</h3> 
            </div>
          <!-- MEUS CRÉDITOS -->
           
                <!-- table tabela -->
                  <table class="tab"> 
                    <!-- <thead> titulo da tabela -->
                    <thead>
                        <tr>
                            <!-- th-cabeçalho da tabela -->
                    <th style="width:15%">DATA</th>
                    <th style="width:15%">HISTÓRICO</th>
                    <th style="width:50%">TIPO DE LANÇAMENTO</th> 
                    <th >VALOR</th>     
                </tr> 
             
                    </thead>
              <!-- tr-linha da tabela -->
              <!-- <tbody> corpo da tabela-->
              <tbody>

                <!-- <td><%= user.codigo%> </td>
                  <td><%= user.historico %></td>
                  <td><%= user.tipodelancamento %></td>
                 
                  <td><%= user.preco %>  -->
           <tr>        
           </tr>
              </tbody>
              <!-- <tfoot> rodape da tabela-->
              <tfoot>
                <tr> 
                  
                


                <td colspan="3" class="texte-right">SALDO</td>
                <td><strong><small>R$ </small>0,00</strong></td>
                     </tr>
              </tfoot>
             
                    
           
                </table>
              
          
           
            </section>

            <%- include('./partials/footerusuario')%>



