<%- include('./partials/usuariomenu')%>
<!-- <main>
    <h1>Usuarios</h1>
    <% for (let Usuarios of usuario){ %>
<div>
    <h2><%= Usuarios.nome %></h2>
    <span><%= Usuarios.preco %></span>
    <p><%= Usuarios.descricao %></p>
</div>
<% } %>
    </main> -->


    
<main class="main_content">

    <div class="codigo">
        <!-- Tela lateral -->
             
<h3 class="fontebarra" id="titulo-Meus Dados">Meus Dados</h3> 
              </div>
    
    <!--meus dados  -->
<form action="/usuario" method="get">   
<div class="row">
<div class="coluna2">
<label for="nome">Nome Completo :</label>
<input type="text" class="coluna22" id="nome" name="nome" placeholder="Digite seu nome" required value="<%= usuario[0].nome %>">

<label for="cpf"> CPF :</label>

<input type="text" class="coluna22"  id="cpf" name="cpf" minlength="11" maxlength="14" placeholder="Digite seu cpf" required value="<%= usuario[0].CPF %>">
                                
<label for="telefone">Telefone Principal :</label>

<input type="tel"  class="coluna22" id="telefone" name="telefone" value="<%= usuario[0].telefonePrincipal %>" >

<label for="Data">Data de nascimento :</label>
                
<input type="date" class="coluna22" id="Data" name="Data" required >                          
</div>


    





<div class="coluna3">

<label for="sexo" >Sexo :</label>

<div class="textocirculo">
    <div class="textocirculo1">  
    <input type="radio" id="Femenino"  name="sexo"  value="Feminino">
    <label  for="sexo">Femenino</label>
    </div>
    <div class="textocirculo1"> 
    <input type="radio"  id="Masculino" name="sexo" value="Masculino">
    <label for="sexo">Masculino</label>
    </div>
    <input type="radio"  id="Não Informado" name="sexo" value="Não Informado">
    <label for="sexo">Não Informado</label>
</div>

<label for="rg">RG:</label>

<input type="text" class="coluna22" id="RG" name="RG" placeholder="Digite seu RG" value="<%= usuario[0].RG %>">  

<label for="telefone">Celular:</label>

<input type="tel"  class="coluna22" id="telefone" name="telefone" size="14" maxlength="14" value="<%= usuario[0].celular %>">

<label for="Receber">Receber Newsletter:</label>


<div class="textocirculo">
    <input type="radio" id="sim" name="Receber"  value="Receber">
    <label for="Receber">Sim</label>
    <input type="radio" id="sim" name="Receber" value="Receber">
    <label for="Receber">Não</label>
</div>
</div>
</div>

<h3 class="fontebarra" id="titulo-Alterar E-mail">Alterar E-mail:</h3>
<div class="e">
<div class="coluna2">

<label  for="E-mail Atual">E-mail Atual:</label>

<input type="email" class="coluna22" id="email" name="email" placeholder="E-mail Atual" value="<%= usuario[0].email %>">
</div>
</div>

<div class="coluna2">


<label for="Novo E-mail">Novo E-mail:</label>

<input type="email" class="coluna22"  id="Novo E-mail" name="Novo E-mail" placeholder="Digite seu Novo E-mail" >
</div>   
<div class="coluna3">

<label for="Confirmação do Novo E-mail">Confirmação do Novo E-mail:</label>

<input type="email"  class="coluna22" id="Confirmação do Novo E-mail" name="Confirmação do Novo E-mail" placeholder="Confirme seu Novo Email"  >

</div>




<h3 class="fontebarra" id="titulo-Alterar Senha">Alterar Senha:</h3>

<div class="e">
<div class="coluna2">


<label  for="Senha Atual">Senha Atual:</label>
<input type="password" class="coluna22" id="Senha Atual" name="password" placeholder="Senha Atual">
</div>
</div>

<div class="coluna2">


<label for="Nova Senha">Nova Senha:</label>

<input type="password" class="coluna22"  id="Nova Senha" name="novapassword" placeholder="Digite sua Nova Senha">
</div>   
<div class="coluna3">

<label for="confirm-password">Confirmação da Nova Senha :</label>

<input type="password"  class="coluna22" id="Confirmação da Nova Senha" name="confirmpassword"  placeholder="Confirme sua Nova Senha" >

</div>


<h3 class="instatexto">Instagram</h3>

<label class="insta" for="Instagram">Instagram </label>
        
<input type="text" class="instabarra" id="Instagram" name="Instagram">
</form>  

<!-- <input class="botao" type="submit" value="SALVAR DADOS"/> -->

<button class="usuario" type="submit" > <a href="./">
SALVAR DADOS </button>
</a>           
 </div>
</main>
</section>
</section>



<%- include('./partials/footerusuario')%>
